<div class="container text-center my-5">
  <h1>Succès</h1>
  <p>Merci pour votre achat !</p>
  <p>Montant payé : <%= number_to_currency(@payment_intent.amount_received / 100.0, unit: "€") %></p>
  <p>Statut du paiement : <%= @payment_intent.status %></p>
</div>