<h1>Profil</h1>

<body>
  <div class="profile-container">
    <h1 class="profile-name">DUPONT Jean</h1>
    <h2 class="profile-section-title">Informations</h2>
    <div class="profile-info">
      <div class="info-group">
        <p><strong>Date de naissance:</strong> 09/04/1972</p>
        <p><strong>Adresse:</strong> 42 Rue Du Postier</p>
        <p><strong>Code Postal:</strong> 43000</p>
        <p><strong>Ville:</strong> Le Puy-en-Velay</p>
        <p><strong>Pays:</strong> France</p>
        <p><strong>N° de téléphone:</strong> 0645396755</p>
        <p><strong>Profession ou spécialité:</strong> Salarié</p>
        <p><strong>Disciplines pratiquées:</strong> Aucune</p>
        <p><strong>Droit à l'image:</strong> Non</p>
      </div>
      <div class="info-group">
        <p><strong>Date d'inscription:</strong> 04/10/2022</p>
        <p><strong>Type d'abonnement:</strong> Aucun</p>
        <p><strong>Newsletter:</strong> Oui</p>
        <p><strong>Investissement dans le projet:</strong> Non</p>
      </div>
    </div>
    <button class="edit-button">Éditer</button>
  </div>
</body>





