
<div class="signin-page"> 
  <% content_for :title, "Editing user" %>
  <%= form_with(model: @user, local: true) do |form| %>
  <% end %>
  <h1>Edit User</h1>
  <%= render 'form', user: @user %>
</div>

<%= link_to 'Back', user_path(@user), class: "white-button" %>



