<h1>Profil</h1>
<% authenticated? %>

<%= %>

<% if current_user.role == "admin" || current_user.role == "godmode" || current_user.role == "volunteer" %>
  <%= link_to "Dashboard Administrateur", admin_dashboard_path %>
<% end %>

<% @public_attributes.each do |attr_name, attr_value|%>
<p>
    <%= attr_name%> :
    <%
        if attr_value == true 
          mot = "Oui" 
        elsif attr_value == false
          mot = "Non"
        elsif attr_value == nil
          mot = "Non précisé"
        else
          mot = attr_value
        end
    %>
    <%= mot%>
</p>

<%end%>



