<div id="cookie-popup" class="cookie-popup hidden">
  <p>
    Ce site utilise des cookies pour améliorer votre expérience utilisateur. En continuant à naviguer, vous acceptez notre <a href="<%= link_to 'Politique de confidentialité', privacy_policy_path %> </a>.
  </p>
  <button id="accept-cookies" class="purple-button">Accepter</button>
</div>
