<div class="profile-container">
    <div class="profile-header">
        <h2>Utilisateur</h2>
        <p>jeandupont@example.com</p>
        <%= button_to "Editer", edit_user_path, class: "edit-button" %>
    </div>
    <div class="profile-avatar">
        <img src="avatar-placeholder.png" alt="Avatar">
        <p>Depuis le : 11/10/24</p>
    </div>
    <div class="profile-info">
        <p>Abonné à la Newsletter : </p>
    </div>
    <div class="profile-actions">
        <%= button_to "Modifier mon mot de passe", new_password_path, class: "purple-button" %>
        <button class="secondary">S'inscrire à la newsletter</button>
        <%= button_to "Supprimer mon compte", user_path, method: :delete, class:"purple-button" %>
    </div>
</div>
