<div class="banner">
  <%= image_tag "banner_home.jpg", class: "image" %>
</div>

<div class="banner-text">
  <p>Bienvenue sur le site du Circographe, un espace dédié à la création, au cirque, et aux arts urbains.</p>
</div>

<div class="container reverse">
  <div class="text-container">
    <p>Paragraphe : Paragraphe :</p>
    <!-- Additional paragraphs as needed -->
  </div>
  <div class="image-container">
    <%= image_tag "banner_home.jpg", class: "image" %>
  </div>
</div>

<div class="container reverse">
  <div class="image-container">
    <%= image_tag "banner_home.jpg", class: "image" %>
  </div>
  <div class="text-container">
    <p>Paragraphe : Paragraphe :</p>
    <!-- Additional paragraphs as needed -->
  </div>
</div>

<div class="container reverse">
  <div class="text-container">
    <p>Paragraphe : Paragraphe :</p>
    <!-- Additional paragraphs as needed -->
  </div>
  <div class="image-container">
    <%= image_tag "banner_home.jpg", class: "image" %>
  </div>
</div>
