
<div class="baner_css">
<%= image_tag "baner_home.jpg", class: "image_css" %>
</div>

<div class="container_css">
  <div class="image-container_css">
    
    <%= image_tag"baner_home.jpg", class: "image_css" %>
  </div>
  <div class="text-container_css">
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
  </div>
</div>

<div class="container_css">

  <div class="text-container_css">
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
  </div>
  <div class="image-container_css">
    
    <%= image_tag"baner_home.jpg", class: "image_css" %>
  </div>
</div>

