<% @events.each do |event| %>
  <div class="event-card">
    <%= event.title %><br>
    <%= event.date %><br>
    <%= link_to "Voir l'évenement" ,event_path(event.id) %><br>
    <%= event.users.length %> personnes intéressé·e·s
  </div>
<% end %>
