<div class="circus-container">
  <div class="banner-circus">
    <%= image_tag "jongleur.jpg", alt: "Jongleur lumineux sur scène dans un spectacle artistique de cirque au Circographe", class: "banner-image-circus" %>
  </div>

  <div class="text">
  <h1>Le cirque au circographe :</h1>
  </div>

  <div class="container">
    <div class="image-container">
        <%= image_tag "jongleur.jpg", alt: "Jongleur lumineux sur scène dans un spectacle artistique de cirque au Circographe", class: "image-main" %>
    </div>

    <div class="text-container">
      <h3>Les horaires d'ouverture :</h3>
      <table>
            <% @opening_hours.each do |day, hours| %>
            <tr>
                <td><%= day.capitalize %></td>
                <td><%= hours %></td>
            </tr>
            <% end %>
        </table>
    </div>
  </div>
