<div class="circus-container">
  <div class="banner-circus">
    <%= image_tag "jongleur.jpg", alt: "Scène de vie", class: "banner-image-circus" %>
  </div>

  <div class="main-content-circus">
    <div class="left-content-circus">
      <h2>Le cirque au circographe :</h2>
      <div class="image-box-circus">
        <%= image_tag "jongleur.jpg", alt: "Cirque au Circographe" %>
      </div>
    </div>
    <div class="right-content-circus">
      <h3>Les horaires d'ouverture :</h3>
      <ul>
        <li>Lundi : fermé</li>
        <li>Mardi : 14h - 22h</li>
        <li>Mercredi : 14h - 22h</li>
        <li>Jeudi : 14h - 22h</li>
        <li>Vendredi : 14h - 22h</li>
        <li>Samedi : 14h - 22h</li>
        <li>Dimanche : 14h - 22h</li>
      </ul>
    </div>
  <div class="text-section-circus">
    <div class="image-box-circus">
      <%= image_tag "jongleur.jpg", alt: "Cirque au Circographe" %>
    </div>
    <div class="text-box-circus">
      <p>Paragraphe : Paragraphe :</p>
      <p>Paragraphe : Paragraphe :</p>
      <p>Paragraphe : Paragraphe :</p>
      <p>Paragraphe : Paragraphe :</p>
      <p>Paragraphe : Paragraphe :</p>
      <p>Paragraphe : Paragraphe :</p>
      <p>Paragraphe : Paragraphe :</p>
    </div>
  </div>
</div>