<% content_for :css_file, "pages_le_cirque" %>

<div class="cirque-container">
  <div class="banner_cirque">
    <%= image_tag "jongleur.png", alt: "Scène de vie", class: "banner-image" %>
  </div>

  <div class="main-content">
    <div class="left-content">
      <h2>Le cirque au circographe :</h2>
      <div class="image-box">
        <%= image_tag "jongleur.png", alt: "Cirque au Circographe", class: "cirque-image" %>
      </div>
    </div>
    <div class="right-content">
      <h3>Les horaires d'ouverture :</h3>
      <ul>
        <li>Lundi : fermé</li>
        <li>Mardi : 14h - 22h</li>
        <li>Mercredi : 14h - 22h</li>
        <li>Jeudi : 14h - 22h</li>
        <li>Vendredi : 14h - 22h</li>
        <li>Samedi : 14h - 22h</li>
        <li>Dimanche : 14h - 22h</li>
      </ul>
    </div>
  </div>

  <div class="text-section">
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
    <p>Paragraphe : Paragraphe :</p>
  </div>
</div>
