<% content_for :css_file, "pages_le_graff" %>

<div class="graff-container">
    <div class="banner_graff">
        <%= image_tag "graff.jpg", alt: "Scène de vie - Le Graff", class: "banner-image-graff" %>
    </div>

    <div class="main-content-graff">
        <div class="left-content-graff">
            <h2>Le Graff au Circographe :</h2>
            <p>Fort de l'empreinte artistique de SWED, blabla blablablabli...<br>
                Continue à partir, explique ton truc.</p>
        </div>
        <div class="right-content-graff">
            <div class="image-box-graff">
                <%= image_tag "graff.jpg", alt: "Image Graff", class: "graff-image" %>
            </div>
        </div>
        <div class="text-section-graff">
            <div class="image-box-graff">
                <%= image_tag "graff.jpg", alt: "Artwork Graff", class: "graff-image" %>
            </div>
            <div class="paragraph-content-graff">
                <p>Paragraphe : Paragraphe : Paragraphe :</p>
                <p>Paragraphe : Paragraphe : Paragraphe :</p>
                <p>Paragraphe : Paragraphe : Paragraphe :</p>
                <p>Paragraphe : Paragraphe : Paragraphe :</p>
            </div>
        </div>
    </div>
</div>