<div class="graff-container">
    <div class="banner_graff">
        <%= image_tag "graff.jpg", alt: "Scène de vie - Le Graff", class: "banner-image-graff" %>
    </div>

    <div class="text">
        <h1> Le graff </h1>
    </div>

    <div class="container">
        <div class="text-container">
            <p>Quand l’Art Urbain Rencontre l’Esprit du Cirque "Le Graff" est l’espace dédié aux arts visuels urbains au sein du Circographe. Dans une dynamique de création et de partage, cet atelier se concentre sur l’exploration des formes artistiques telles que le graffiti, le street art, et les fresques murales. Fidèle à l’esprit du Circographe, Le Graph propose un terrain d’expression où les artistes amateurs et confirmés peuvent repousser les limites de leur imagination.</p>
        </div>
        <div class="image-container">
            <%= image_tag "graff.jpg", alt: "Image Graff", class: "image-main" %>
        </div>    
    </div>

    <div class="container">
        <div class="image-container">
            <%= image_tag "graff.jpg", alt: "Artwork Graff", class: "image-main" %>
        </div>
            
        <div class="text-container">
            <h1>Pourquoi participer ? </h1>
            <p>Exprimez votre créativité : <br> que vous soyez passionné d’art urbain ou simplement curieux, Le Graff offre un environnement bienveillant pour explorer de nouvelles formes d’expression. <br>
            Rejoignez une communauté d’artistes : un lieu de rencontre pour échanger, apprendre et créer aux côtés de talents locaux. <br>
            Contribuez au paysage culturel toulousain : grâce à des projets collectifs, vos œuvres peuvent laisser une empreinte durable dans la ville.:</p>
        </div>
    </div>
</div>