<div class="place-container">
  <div class="banner-place">
    <%= image_tag "home3.webp", alt: "Scène de vie - Le Lieu", class: "banner-image-place" %>
  </div>

  <div class="text">
    <h1> Le Lieu <h1>
  </div>

  <div class="container">
    <div class="text-container">
      <p> 97 bis rue du boulevard de Suisse</p>
    </div>
    <div class="image-container">  
      <%= image_tag "place.jpg", alt: "Image Le Lieu", class: "image-main" %>
    </div>
  </div>

  <div class="contact-us-place">
    <%= link_to "Contact et résidence", page_path("contact"), class: "btn-contact" %>
  </div>

  <div class="container">
    <div class="image-container">
      <%= image_tag "place.jpg", alt: "Image supplémentaire", class: "image-main" %>
    </div>
    <div class="text-container">
      <p>Le Circographe se distingue par son atmosphère chaleureuse et sa philosophie basée sur la collaboration et la diversité artistique. C’est un lieu où les murs respirent la créativité, où les mouvements des circassiens croisent les lignes colorées des graffeurs, et où les spectateurs découvrent des univers captivants.</p>
    </div>
  </div>
</div>