<div class="signin-page">
<div class="form-group">
  <h1 class="font-bold text-4xl">Réinitialiser votre mot de passe</h1>

  <%= form_with url: passwords_path, method: :post, local: true do |form| %>
    <div class="my-5">
      <%= form.label :email_address, "Adresse email", class: "font-medium" %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Entrez votre adresse email", value: params[:email_address], class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit "Envoyer les instructions", class: "rounded-lg py-3 px-5 text-white inline-block font-medium cursor-pointer", class: "submit-button" %>
    </div>
  <% end %>
</div>
</div>