.admin-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: #f2f3f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: calc(100% - 200px);
  margin-left: 200px;
}

.admin-header .btn {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.admin-header-left {
  justify-content: center;
  margin-left: 50%;
}

.admin-header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}