/* application.css */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #E6E6EA;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: clamp(14px, 1vw, 18px);
}

main {
  flex: 1;
}

.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: ellipse(100% 90% at 70% 10%);
  z-index: 1;
}

.banner_hero {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: ellipse(100% 90% at 70% 10%);
  z-index: 1;
}

.banner_image_hero {
  width: 100%;
  height: auto;
  max-height: 30vh;
  object-fit: cover;
  object-position: center;
}

.banner-text {
  text-align: center;
  margin-top: 18px;
  font-size: clamp(18px, 3vw, 35px);
  color: #374151;
  font-weight: 500;
  line-height: 1.4;
  font-family: 'RoughTypewriter';
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 100px;
  padding: 50px;
  margin: auto;
  font-size: clamp(16px, 2vw, 20px);
}

.container.reverse {
  flex-direction: row-reverse;
}

.page-container {
  display: flex;
}

.image-container,
.text-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  border-left: auto;
  flex-direction: column;
  font-size: clamp(20px, 2.5vw, 33px);
  font-family: 'RoughTypewriter';
}

.text-container strong {
  font-family: 'Circographe';
  font-weight: 600;
  font-size: clamp(22px, 2.8vw, 35px);
}

.image {
  border-radius: 15%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-main {
  border-radius: 15%;
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.image-main:hover {
  transform: translateX(+12px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    gap: 50px;
    padding: 40px;
  }

  .banner-text {
    font-size: clamp(16px, 2.5vw, 28px);
  }

  .text-container {
    font-size: clamp(18px, 2.2vw, 30px);
  }

  .text-container strong {
    font-size: clamp(20px, 2.5vw, 32px);
  }

  .banner_hero {
    height: 300px;
  }

  .banner_image_hero {
    max-height: 25vh;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .banner_hero {
    height: 300px;
  }

  .banner_image_hero {
    max-height: 25vh;
  }

  .banner-text {
    font-size: clamp(14px, 4vw, 20px);
  }

  .text-container {
    font-size: clamp(16px, 4vw, 22px);
  }

  .text-container strong {
    font-size: clamp(18px, 4.5vw, 24px);
  }

  .image-main {
    border-radius: 10%;
  }
}
