/* application.css */

@import "form";
@import "flash";

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #E6E6EA; 
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
}

.white-button {

    padding: 5px 15px;
    border: 1px solid #007bff;
    background-color: white;
    color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.white-button:hover {
    background-color: #e7f0ff;
}

.blue-button {
    padding: 5px 15px;
    border: none;
    background-color: #6b47b8;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; 
}

.blue-button:hover {
    background-color: #5836a5;
}

.banner {
    position: relative; 
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: ellipse(100% 90% at 70% 10%);
    z-index: 1;
}

.container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 100px; 
    padding: 50px; 
    margin: auto;
}

.image-container {
    flex: 2; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.image {
    max-width: 100%; 
height: fit-content; 
    object-fit: cover;
}

.text-container {
    flex: 1; 
    background-color: #f5f5f5; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); 
}

.banner-text {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: #374151;
    font-weight: 500;
    line-height: 1.6;
}  

.image-block {
flex: 1;
display: flex; 
}