body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white; 
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
}

.banner-text{
  display: flex;
  justify-content: center;
}

.white-button_css {
    padding: 5px 15px;
    border: 1px solid #007bff;
    background-color: white;
    color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.white-button_css:hover {
    background-color: #e7f0ff;
}

.blue-button_css {
    padding: 5px 15px;
    border: none;
    background-color: #6b47b8;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; 
}

.blue-button_css:hover {
    background-color: #5836a5;
}

.baner_css {
    position: relative; 
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: ellipse(100% 90% at 70% 10%);
    z-index: 1;
}

.container_css {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 100px; 
    padding: 50px; 
    margin: auto;
}

.image-container_css {
    flex: 2; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.image_css {
    max-width: 100%; 
    height: auto; 
    object-fit: cover;
}

.text-container_css {
    flex: 1; 
    background-color: #f5f5f5; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); 
}

.form-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid black 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: fit-content;
    padding: 10px;

}

.form-field {
    padding: 10px;
}

.form-half {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-half h1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-half {
    padding-left: 20px;
    padding-right: 20px;
}
