/* cgu.css */
.cgu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cgu ul {
  list-style-type: disc;
  /* Type de puce standard */
  margin-left: 40px;
  /* Décale les puces vers la droite */
  margin-bottom: 20px;
  /* Ajoute de l'espace entre les listes */
}

.cgu ul li {
  margin-bottom: 10px;
  /* Ajoute de l'espace entre les éléments de la liste */
  line-height: 1.6;
  /* Améliore la lisibilité */
}

.cgu ul li strong {
  font-weight: bold;
  /* Mettez en valeur les mots importants dans les listes */
}