/* navbar.css */
.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E6E6EA;
  width: 100%;
  z-index: 10;
  position: relative;
}

.navbar-logo img {
  width: auto;
  height: 80px;
  object-fit: contain;
  display: block;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar-links li a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'RoughTypewriter', sans-serif;
  color: black;
  font-weight: bold;
}

.navbar-links li a:hover {
  text-decoration: underline;
}

.navbar-right {
  display: flex;
  gap: 10px;
  margin-right: 2em;
}

.white-button {
  padding: 5px 15px;
  border: 1px solid #007bff;
  background-color: white;
  color: #007bff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'RoughTypewriter', sans-serif;
}

.white-button:hover {
  background-color: #e7f0ff;
}

.blue-button {
  padding: 5px 15px;
  border: none;
  background-color: #6b47b8;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'RoughTypewriter', sans-serif;
}

.blue-button:hover {
  background-color: #5836a5;
}

.baner {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: ellipse(100% 90% at 70% 10%);
  z-index: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 50px;
  margin: 0 auto;
}

.image-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.text-container {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.custom-navbar {
  font-family: 'RoughTypewriter';
  src: url('/assets/fonts/rough_typewriter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

