/* pages_le_cirque.css */

.cirque-container {
  background-color: #E6E6EA;
  font-family: Arial, sans-serif;
}

.banner_cirque {
  position: relative; 
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: ellipse(100% 90% at 70% 10%);
  z-index: 1;
}

.banner-image {
  width: 100%;
  height: auto;
  max-height: 20vh;
  object-fit: cover;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  gap: 20px;
}

.left-content,
.right-content {
  width: 48%;
}

.image-box-cirque {
  text-align: center;
  padding: 30px;
}

.cirque-image {
  width: 100%;
  height: auto;
}

.right-content-cirque ul li {
  list-style: none;
  padding: 0;
  margin: 0px;
}

.right-content-cirque {
  text-align: left;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 1.8;
  width: 30%;
}


.text-section-cirque {
  margin-top: 30px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
}
