/* pages_contact.css */
.contact-container {
  
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #E6E6EA;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form-group {
  display: flex;
  flex-direction: column;
}

.contact-input,
.contact-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.contact-input:focus,
.contact-textarea:focus {
  outline: none;
  border-color: #6c63ff;
}

.contact-textarea {
  min-height: 150px;
  resize: vertical;
}

.contact-button {
  background-color: #6c63ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #5146d6;
}

.contact-background {
  background-image: url("background.webp");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  height: 87.7vh; 
  padding-top: 200px;
}