/* pages_about.css */

.banner_about {
  position: relative; 
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: ellipse(100% 90% at 70% 10%);
  z-index: 1;
}

.about-container {
  background-color: #E6E6EA;
  font-family: Arial, sans-serif;
}

.banner-image-about {
  width: 100%;
  height: auto;
  max-height: 25vh;
  object-fit: cover;
}

.main-content-about {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.left-content-about {
  width: 40%;
  padding: 20px;
  background-color: #f8f9fa;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  margin-left: 80px;
}

.right-content-about {
  width: 35%;
}

.image-box-about {
  margin-right: 60px;
}

.about-image {
  width: 100%;
  height: auto;
}

.team-section-about {
  margin-top: 40px;
  text-align: center;
}

.team-grid-about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.team-member-about {
  text-align: center;
}

.team-image-about {
  width: 100px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.social-section-about {
  margin-top: 40px;
  text-align: center;
}

.social-grid-about {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.social-item-about {
  text-align: center;
}

.social-image-about {
  width: 500px;
  height: auto;
}
