.about-container {
  background-color: #E6E6EA;
  font-family: Arial, sans-serif;
}

.main-content-about {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.team-section {
  text-align: center;
  padding: 20px;
  background-color: #D9D9D9;
}

.team-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 50px; 
  max-width: 800px;
  margin: 0 auto; 
}

.team-member {
  text-align: center; 
}

.team-image {
  width: 80px;
  height: 80px;
  display: inline-block; 
  margin-bottom: 10px; 
}