/* pages_le_graff.css */

.banner_graff {
  position: relative; 
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: ellipse(100% 90% at 70% 10%);
  z-index: 1;
}

.graff-container {
  background-color: #E6E6EA;
  font-family: Arial, sans-serif;
}

.banner-image {
  width: 100%;
  height: auto;
  max-height: 20vh;
  object-fit: cover;
}

.main-content-graff {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left-content-graff {
  width: 48%;
}

.right-content-graff {
  width: 48%;
}

.image-box-graff {
  text-align: center;
  padding: 30px;
}

.graff-image {
  width: 100%;
  height: auto;
}

.text-section-graff {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  background-color: #E6E6EA;
}

.paragraph-content-graff {
  width: 60%;
}

.paragraph-content p {
  margin: 10px 0;
}
