.circus-container {
  background-color: #E6E6EA;
  font-family: Arial, sans-serif;
}

.text h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Circographe';
  src: url('Circographe-Regular.woff2') format('woff2'),
       url('Circographe-Regular.woff') format('woff');
  font-weight: bold;
  padding-top: 40px;
  font-size: 50px;
}

.text-container h3 {
  font-weight: bold;
  padding-bottom: 15px;
}